global
   maxconn 4096
   user haproxy
   group haproxy
   daemon

defaults
   log   global
   mode   http
   # logs which servers requests go to, plus current connections and a whole lot of other stuff 
   option   httplog
   option   dontlognull
   retries   3
   option redispatch
   maxconn   2000
   contimeout   5000
   clitimeout   50000
   srvtimeout   50000
   # check webservers for health, taking them out of the queue as necessary 
   option httpchk

# this load balancer servers both www.site.com and static.site.com, but those two URLS have  
# different servers on the backend (app servers versus statis media apache instances)  
# also, I want to server www.site.com/static/* from the later farm  

frontend read
   bind *:6031
   default_backend read_back

backend read_back
   balance roundrobin
   server 10.42.222.190 check port 3306      

frontend write
   bind *:6032
   default_backend read_back

backend write_back
   balance roundrobin
   server 10.42.44.1 check port 3306
